<div class="title">
    <h1>Listado de Ordenes</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
      </mat-form-field>
    <table mat-table [dataSource]="dataOrders" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{ element.Ship }} </td>
            </ng-container>

        <ng-container matColumnDef="Ciudad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
            <td mat-cell *matCellDef="let element"> {{ element.City }} </td>
            </ng-container>

        <ng-container matColumnDef="Region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
            <td mat-cell *matCellDef="let element"> {{ element.Region }} </td>
            </ng-container>

        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
            <td mat-cell *matCellDef="let element"> {{ element.Address }} </td>
            </ng-container>
        
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> 
                <button [routerLink]="['/agregarOrders']" class="agregar" mat-raised-button color="primary">Agregar</button>
                 </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon [routerLink]="['/verOrders', element.Id]" class="search" fontIcon="search" matTooltip="Ver"></mat-icon>
                <mat-icon routerLink="/editarOrders/{{ element.Id }}" class="edit" fontIcon="edit" matTooltip="Editar"></mat-icon>
                <mat-icon (click)="eliminarOrders(element.Id)" routerLink="/eliminarOrders" class="delete" fontIcon="delete" matTooltip="Eliminar"></mat-icon>
            </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]"
    showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

  
  