<div class="title">
    <h1>Detalles de la Orden</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="order != null" class="container">
    <mat-card class="card">
        <mat-card-title> {{ order.Ship }} </mat-card-title>
        <mat-card-content>
            <p><strong>Ciudad:</strong> {{ order.City }} </p>
            <p><strong>Region:</strong> {{ order.Region }} </p>
            <p><strong>Direccion:</strong> {{ order.Address }} </p>
            <!-- <p><strong>Otro dato a fijar:</strong> Aqui iria otro dato de bd/</p> -->
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listaOrders" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>
