<div class="title">
    <h1>Aqui empiezo para ver las orden en detalle</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>De momento esto va a ser un ejemplo</mat-card-title>
        <mat-card-content>
            <p><strong>Ciudad:</strong> Aqui iria la Ciudad</p>
            <p><strong>Region:</strong> Aqui iria la Region</p>
            <p><strong>Otro dato a fijar:</strong> Aqui iria otro dato de bd/</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listaOrders" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>
